<ul class="menu menu-hover-lines">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="service">About Us</a></li>
  <li><a href="login">Login</a></li>
</ul>

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404: Page Not Found
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>