<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404: Page Not Found
      <br><a href="/">← Back To Home</a></h1>
    
    <br>
    <img src="/assets/images/404.jpg" style="width: 500px; height: 350px;" class="w3-border w3-padding">
  </div>
</div>