<div class="card" style="width: 75%;">
  <div class="card-divider">
    <h1>UNITED FOR DIGNITY</h1>
  </div>

  <div class="card-section">
    <h4>MISSION STATEMENT</h4>
    <p>MiChel is going to edit the mission statement and add here.</p>
  </div>
</div>

<div class="media-object stack-for-small">
  <div class="media-object-section">
    <div class="full-image">
      <img src="./assets/image1.jpg">
    </div>
  </div>

  <div class="card-section">
    <h4>MISSION STATEMENT</h4>
    <p>MiChel is going to edit the mission statement and add here.</p>
  </div>
</div>

<div class="card" style="width: 75%;">
  <div class="card-divider">
    <h4>Services</h4>
  </div>
  <ul class="menu">
    <li><a href="#">Medical</a></li>
    <li><a href="#">Mental Health</a></li>
    <li><a href="#">Legal</a></li>
    <li><a href="#">Financial</a></li>
  </ul>
</div>

  <script src="/js/index.js"></script>


