    <ul class="menu menu-hover-lines">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="service">About Us</a></li>
      <li><a href="login">Login</a></li>
    </ul>

        <div class="card" style="width: 75%;">
          <div class="card-divider">
            <h1>UNITED FOR DIGNITY</h1>
          </div>
          
          <div class="card-section">
            <h4>MISSION STATEMENT</h4>
            <p>MiChel is going to edit the mission statement and add here.</p>
          </div>
        </div>
              
        <div class="media-object stack-for-small">
          <div class="media-object-section">
            <div class="full-image">
              <img src="./assets/image1.jpg">
            </div>
          </div>
              
          <div class="card-section">
            <h4>MISSION STATEMENT</h4>
            <p>MiChel is going to edit the mission statement and add here.</p>
          </div>
        </div>

        <div class="card" style="width: 75%;">
          <div class="card-divider">
            <h4>Services</h4>
          </div>
          <ul class="menu">
          <li><a href="#">Medical</a></li>
          <li><a href="#">Mental Health</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Financial</a></li>
        </ul>
        </div>

        <footer class="social-footer">
          <div class="social-footer-left">
            <a href="#"><img class="logo" src="https://placehold.it/150x30"></a>
          </div>
          <div class="social-footer-icons">
            <ul class="menu simple">
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>

<script src="/js/index.js"></script>
