<div class="w3-panel w3-card-4" style="background-color: white">
  <h4>Our Mission:</h4>
  <p>United for Dignity seeks to address all underlying causes of housing instability for marginilized homeless
    populations <i>(veterans, LGBTQ youth, survivors of partner abuse)</i>. We view housing as a fundamental right and offer
    <b>legal, financial, mental health, & medical services</b> in
    an effort to help our clients get back on their feet, and, ultimately, into their very own home.</p>
  <h4>Our Core Values:</h4>
  <ol>
    <li>Holism</li>
    <li>Stability</li>
    <li>Empowerment</li>
    <li>Dignity</li>
  </ol>
</div>
</div>

  <div class="w3-image">
    {{!-- <img src="/assets/images/image2.jpg" class="w3-border w3-padding" alt="Homeless" class="w3-card-4">
    <img src="/assets/images/helping_hand.jpg" class="w3-border w3-padding" alt="Helping Hands" class="w3-card-4">
    <img src="/assets/images/image1.jpg" class="w3-border w3-padding" alt="Impossible is Possible" class="w3-card-4">
    <img src="/assets/images/together.jpg" class="w3-border w3-padding" alt="Together we can" class="w3-card-4"> --}}
    <img src="/assets/images/hands.jpg" class="w3-border w3-padding" alt="together" class="w3-card-4">
    <img src="/assets/images/volunteer.jpg" class="w3-border w3-padding" alt="volunteer" class="w3-card-4">
    <img src="/assets/images/patient.jpg" class="w3-border w3-padding" alt="patient" class="w3-card-4">
    <img src="/assets/images/love.jpg" class="w3-border w3-padding" alt="love" class="w3-card-4">
  </div>


  <div id="services_block" class="w3-container" style="background-color: white;">
    <h2>Explore Services</h2>
    <a href="/service" class="w3-btn">
      <h3>Medical</h3>
    </a>
    <a href="/service" class="w3-btn">
      <h3>Mental Health</h3>
    </a>
    <a href="/service" class="w3-btn">
      <h3>Legal</h3>
    </a>
    <a href="/service" class="w3-btn">
      <h3>Financial</h3>
    </a>
    <br><br>
  </div>





<src="/js/index.js"> </script>