<div class="card" style="width: 75%;">
  <div class="card-divider">
    <h1>United for Dignity</h1>
  </div>

  <div class="card-section">
    <h4>Our Mission:</h4>
    <p>United for Dignity seeks to address all underlying causes of housing instability for marginilized homeless
      populations.</p>
    <p>We view housing as a fundamental right and offer <b>legal, financial, mental health, & medical services</b> in
      an effort to help our clients get back on their feet, and, ultimately, into their very own home.</p>
  </div>
</div>

<div class="media-object stack-for-small">
  <div class="media-object-section">
    <div class="full-image">
      <img src="/assets/images/image1.jpg">
    </div>
  </div>

  <div class="card-section">
    <div class="card" style="width: 75%;">
      <div class="card-divider">
        <h4>Services</h4>
      </div>
      <ul class="menu">
        <li><a href="service">Medical</a></li>
        <li><a href="service">Mental Health</a></li>
        <li><a href="service">Legal</a></li>
        <li><a href="service">Financial</a></li>
      </ul>
    </div>
  </div>
</div>

<<<<<<< HEAD
  <script src="/js/index.js"></script>


=======
<script src="/js/index.js"></script>
>>>>>>> 9e23feb42a36f9b72a1a90d77aab304f58409ef4
