 <ul class="menu menu-hover-lines">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Login</a></li>
    </ul>

        <div class="card" style="width: 75%;">
          <div class="card-divider">
            <h1>UNITED FOR DIGNITY</h1>
          </div>
          
        
        <div class="card" style="width: 75%;">
          <div class="card-divider">
            <h4>Services</h4>
          </div>
        </div>

        <div class="card" id="medical">
            <img src="./assets/General-Physician-Doctors.jpg">
            <div class="card-section">
              <p>Medical</p>
            </div>
        </div>

        <div class="card" id="mental">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <p>Mental Health</p>
            </div>
        </div>

        <div class="card" id="legal">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <p>Legal</p>
            </div>
        </div>

        <div class="card" id="financial">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <p>Financial</p>
            </div>
        </div>

        <footer class="social-footer">
          <div class="social-footer-left">
            <a href="#"><img class="logo" src="https://placehold.it/150x30"></a>
          </div>
          <div class="social-footer-icons">
            <ul class="menu simple">
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>