<div class="card" style="width: 75%;">
  <div class="card-divider">
    <h1>UNITED FOR DIGNITY</h1>
  </div>

  <div class="card" style="width: 75%;">
    <div class="card-divider">
      <h4>Services</h4>
    </div>
  </div>

  <div class="card" id="medical">
    <img src="./assets/General-Physician-Doctors.jpg">
    <div class="card-section">
      <p>Medical</p>
      <p>Description of Medical Services</p>
    </div>
  </div>

  <div class="card" id="mental">
    <img src="assets/img/generic/rectangle-1.jpg">
    <div class="card-section">
      <p>Mental Health</p>
      <p>Description of Mental Health Services</p>

    </div>
  </div>

  <div class="card" id="legal">
    <img src="assets/img/generic/rectangle-1.jpg">
    <div class="card-section">
      <p>Legal</p>
      <p>Description of Legal Services</p>
    </div>
  </div>

  <div class="card" id="financial">
    <img src="assets/img/generic/rectangle-1.jpg">
    <div class="card-section">
      <p>Financial</p>
      <p>Description of Financial Services</p>
    </div>
  </div>