<div class="container">
    <h2>Our Services</h2>

  {{!-- <div class="card" id="medical">
    
    <div class="card-section">
      <p>Medical</p>
      <p>Description of Medical Services</p>
    </div>
  </div> --}}


<div class="w3-panel w3-card-4"  style="background-color: white; width: 75%; margin: 10px auto 10px auto;">
  <div class="w3-third w3-container">
      <h3>Medical</h3>
      <img src="/assets/images/doc.jpg" style="width: 250px; height: 175px;">
      <br><br>
      <button onclick="document.getElementById('med').style.display='block'" class="w3-button w3-blue">see more</button>

      <div id="med" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('med').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h4>Medical Services, including:</h4>
            <ul>
              <li>Primary Care Doctor</li>
              <li>Women's Wellness Exam</li>
              <li>Rapid HIV Testing</li>
              <li>Vaccines</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

            
{{!-- 
  <div class="card" id="mental">
    <img src="assets/img/generic/rectangle-1.jpg">
    <div class="card-section">
      <p>Mental Health</p>
      <p>Description of Mental Health Services</p>

    </div>
  </div> --}}
  
  <div class="w3-third w3-container">
    <h3>Mental Health</h3>
      <img src="/assets/images/mental-health.png" style="width: 250px; height: 175px;">
      <br><br>
        <button onclick="document.getElementById('mental').style.display='block'" class="w3-button w3-blue">see more</button>

        <div id="mental" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('mental').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h4>Mental Health Services, including:</h4>
            <ul>
              <li>PTSD Treatment</li>
              <li>Specialized Therapy Modalities</li>
              <li>Psychotherapy</li>
              <li>Basic Living Skills Training</li>
            </ul>
            </div>
          </div>
        </div>
  </div>
  
  {{!-- <div class="card" id="legal">
    <img src="assets/img/generic/rectangle-1.jpg">
    <div class="card-section">
      <p>Legal</p>
      <p>Description of Legal Services</p>
    </div>
  </div> --}}

  <div class="w3-third w3-container">
    <h3>Legal</h3>
      <img src="/assets/images/lawyer.jpg" style="width: 250px; height: 175px;">
      <br><br>
        <button onclick="document.getElementById('legal').style.display='block'" class="w3-button w3-blue">see more</button>

        <div id="legal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('legal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <p>Some text. Some text. Some text.</p>
              <p>Some text. Some text. Some text.</p>
            </div>              
          </div>
        </div>
  </div>

  <div class="w3-third w3-container">
    <h3>Financial</h3>
      <img src="/assets/images/finance.jpg" style="width: 250px; height: 175px;">
      <br><br>
      <button onclick="document.getElementById('financial').style.display='block'" class="w3-button w3-blue">see more</button>

      <div id="financial" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('financial').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>Some text. Some text. Some text.</p>
            <p>Some text. Some text. Some text.</p>
          </div>
        </div>
      </div>
  </div>

  {{!-- <div class="card" id="financial">
    <img src="assets/img/generic/rectangle-1.jpg">
    <div class="card-section">
      <p>Financial</p>
      <p>Description of Financial Services</p>
    </div>
  </div> --}}

  <div class="w3-third w3-container">
      <h3>Re-Housing</h3>
        <img src="/assets/images/realtor.jpg" style="width: 250px; height: 175px;">
        <br><br>
          <button onclick="document.getElementById('realtor').style.display='block'" class="w3-button w3-blue">see more</button>

      <div id="realtor" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('realtor').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>Some text. Some text. Some text.</p>
            <p>Some text. Some text. Some text.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="w3-third w3-container">
      <h3>Want to Help?</h3>
        <img src="/assets/images/donate.jpg" style="width: 250px; height: 175px;">
        <br><br>
          <button onclick="document.getElementById('realtor').style.display='block'" class="w3-button w3-blue">see more</button>

      <div id="realtor" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('realtor').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>Some text. Some text. Some text.</p>
            <p>Some text. Some text. Some text.</p>
          </div>
        </div>
      </div>
  </div>
</div>

