<h2>Welcome</h2>

<div class="w3-container">
  <div id="announcements">
    <h3>Important Staff Updates:</h3>
    <p id="announcement"></p>
      <ol>
        <li>This is announcement 1</li>
        <li>This is announcement 2</li>
        <li>This is announcement 3</li>
      </ol>
  </div>
</div>

<hr>

<div class="w3-container">
  <div class="patient-container">
    <h3>Existing Client List</h3>
    <div id="patient-list"></div>
  </div>
</div>
<hr>

<div class="container">
  <h3>Add New Client</h3>
  <form id="new-patient-form">
    <div class="w3-row-padding">
      <div class="w3-half">
        <label>Name</label>
        <input id="name-input" class="w3-input w3-border" type="text" placeholder="First and Last Name">
      </div>
      <div class="w3-half">
        <label>Date of Birth</label>
        <input id="dob-input" class="w3-input w3-border" type="date" placeholder="mm/dd/yyyy">
      </div>
      <div class="w3-half">
        <label>Height</label>
        <input id="height-input" class="w3-input w3-border" type="number" placeholder="Height">
      </div>
      <div class="w3-half">
        <label>Weight</label>
        <input id="weight-input" class="w3-input w3-border" type="number" placeholder="Weight">
      </div>
      <button id="button">Add New Client</button>
    </div>
  </form>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/staff.js"></script>