<div id="staff">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Back-Office</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="announcements">
    <h3>Important Updates:</h3>
    <p>
      <ol>
        <li>This is announcement 1</li>
        <li>This is announcement 2</li>
        <li>This is announcement 3</li>
      </ol>
      </li>
  </div>
</div>
<hr>

<div class="container">
  <div class="patient-container">
    <h3>Current Clients</h3>
    <p><i>**This will be filled in from the existing database**</i></p>
    <li id="name">Name: </li>
    <li id="dob">Date of Birth: </li>
    <li id="height">Height: </li>
    <li id="weight">Weight: </li>
    <li id="description">Description: </li>
  </div>
</div>

<hr>
<div class="container">
  <h3>Add New Client</h3>
  <form id="new-patient-form">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 cell">
          <label>Name
            <input id="name-section" type="text" placeholder="First and Last Name">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Date of Birth
            <input id="dob-section" type="date" placeholder="mm/dd/yyyy">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Height
            <input id="height-section" type="number" placeholder="Height (inches)">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Weight
            <input id="weight-section" type="number" placeholder="Weight (pounds)">
          </label>
        </div>

        <div class="small-12 columns">
          <label>Description
            <textarea name="text" id="description" rows="5"></textarea>
          </label>
        </div>

      </div>
    </div>
  </form>

  <label for="formfield" class="button">Submit</label>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/staff.js"></script>
