<div id="staff">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>United for Dignity Back-Office</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="announcements">
    <h3>Important Updates:</h3>
    <p>
      <ol>
        <li>This is announcement 1</li>
        <li>This is announcement 2</li>
        <li>This is announcement 3</li>
      </ol>
    </p>
  </div>
</div>

<div class="container">
  <h3>Current Clients</h3>
  <div id="patient-data"></div>
</div>

  <script type="text/javascript" src="/public/js/staff.js"></script>