<ul class="menu menu-hover-lines">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="service">About Us</a></li>
  <li><a href="login">Login</a></li>
</ul>

<div id="staff">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>United for Dignity Back-Office</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="announcements">
    <h3>Important Updates:</h3>
    <p>
      <ol>
        <li>This is announcement 1</li>
        <li>This is announcement 2</li>
        <li>This is announcement 3</li>
      </ol>
    </p>
  </div>
</div>

<div class="container">
  <h3>Current U4D Clients</h3>
  <div id="patient-data"></div>
</div>

<footer class="social-footer">
  <div class="social-footer-left">
    <a href="#"><img class="logo" src="https://placehold.it/150x30"></a>
  </div>
  <div class="social-footer-icons">
    <ul class="menu simple">
      <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <script type="text/javascript" src="/public/js/staff.js"></script>